
  .mainbox {
    background-color: #95c2de;
    margin: auto;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
    .err {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 30%;
      top: 25%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
  }
  
   .err2 {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 56%;
      top: 25%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
      padding: 1rem;
    }
  
  a {
    text-decoration: none;
    color: firebrick;
  }
  
  a:hover {
    text-decoration: underline;
  }